body {
    /* background-color: #592615; */
    background-color: #0F2A3D;
}

h3, p {
    color: #F5A454;
    mix-blend-mode: difference !important;
}
body::after {
    position: absolute;
    content: "";
    background-color: #719EBD;
    inset: 0;
    left: 35%;
    z-index: -1;
    clip-path: polygon(
        30% 0,
        100% 0,
        100% 100%,
        20% 100%,
        0% 70%
    );
}

.flex-banner {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.flex-item {
    margin: 0 5px;
}

.container.col-10>p {
    text-align: justify;
}

.form-control:focus {
    box-shadow: none;
}

#mainInputs {
    display: none;
}